*{
    /* border: 1px solid; */
    margin: 0;
    padding: 0;
}

.title{
    width: 100%;
    text-align: center;
    font-size:  1.5em;
    font-weight: 700;
}

.wrapper{
    width: 590px;
    margin:0 auto;
    padding-bottom: 100px;
    position: relative;
}

.item{
    clear: both;
    padding-top: 24px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;

}
.item input{
    width: 100%;
}
.item label strong {
    display: inline-block;
    margin-bottom: 8px;
    color: #373f57;
    font-size: 21px;
    font-weight: 500;
}
.TypoBox{
    display: inline-block;
    position: relative;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}
.TypoBox .Typo {
    
    width: 100%;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--gray100);
    line-height: 20px;
    background: none;
    padding: 11px 12px;
    height: 46px;
    font-size: 18px;
    line-height: 24px;
}

label{
    display: inline-block;
    cursor: pointer;
    width: 100%;
}
div{
    display: block;
}
.TypoBox:hover{
    border: 1px solid #8491a7;
    background-color: #7db0b547;
    transition: 0.5s ;
}

.Btn{
    margin-top: 50px;
    padding: 10px 15px 12px;
    height: 50px;
    font-size: 20px;
    line-height: 24px;
    width: 30%;
    display: inline-flex;
    position: relative;
    border: 2px solid #7DB0B5;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
    text-align: center;
    vertical-align: top;
    background-color: #7DB0B5;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.Btn:hover{
    background-color: white;
    color: #7DB0B5;
    transition: background-color 0.5s ease;
}

.birthdate-box {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
}

.birthdate-input {
    width: 30%;
    text-align: center;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 11px 12px;
    height: 46px;
    line-height: 20px;
}

.birthdate-input:hover{
    border: 1px solid #8491a7;
    background-color: #7db0b547;
    transition: 0.5s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.item>label{
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}